// Suppress scroll on body
body.with-backdrop {
  overflow: hidden;
  .view {
    filter: brightness(2) grayscale(20%) blur(5px);
  }
}

.backdrop,
.backdrop__content {
  position: absolute;
  top: $loader-height;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop {
  top: $loader-height;
  background: white;
  opacity: 0.5;
}
