.generator {
  overflow: hidden;
  .form-group label {
    width: 100%;
  }
  .form-text.is-invalid,
  .icon--star {
    color: $primary;
  }
  &__thumb {
    width: 200px;
    margin-top: 10px;
    img {
      width: 100%;
    }
  }
}
