@import "variables";
@import "bootstrap";
@import "modules/alert";
@import "modules/app_loader";
@import "modules/backdrop";
@import "modules/button";
@import "modules/choose_crop";
@import "modules/color_stripe";
@import "modules/file_selector";
@import "modules/footer";
@import "modules/generator";
@import "modules/icon";
@import "modules/modal";
@import "modules/loader";
@import "modules/navbar";
@import "modules/pagination";
@import "modules/poster_list";
@import "modules/preview_poster";
@import "modules/select_spec";

svg[role="img"] {
  width: 100%;
  height: 100%;
}
