.alerts {
  z-index: $zindex-dropdown;
  position: fixed;
  min-width: 340px;
  left: calc(50% - 170px);
  top: 25px;
  opacity: .8;
  margin: 0 auto;
}

.alert {
  @extend .alert-dismissible;
  @extend .alert-primary;

  &--error {
    @extend .alert-danger;
  }
  &--success {
    @extend .alert-success;
  }
  &--info {
    @extend .alert-info;
  }
}
