.choose-crop {
  &__container {
    margin: 10rem auto 100rem;
    cursor: grabbing;
    position: relative;

    &::after {
      content: " ";
      display: block;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border: 1px dashed lightgray;
      box-shadow: 0 0 0 5000px rgba(255, 255, 255, .7);
    }
  }

  &__image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: grabbing;
  }

  &__save {
    position: absolute;
    top: 1em;
    left: 2em;
    z-index: 1;
  }
}
