.loader {
  width: 100%;
  height: $loader-height;
  position: fixed;
  top: 0;
  z-index: $zindex-modal;
  background: linear-gradient(-45deg, #c41100, #d59700, #c41100);
  background-size: 400% 400%;
  &--loading {
    @keyframes gradient {
      0% {
        background-position: 100% 50%
      }
      100% {
        background-position: 0 50%
      }
    }
    animation: gradient 1s ease infinite;
  }
}
