.modal {
  &__dismiss-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
    .icon {
      width: 100%;
      height: 100%;
    }
  }
}
